* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin: 0 0 30px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h2 {
    font-size: 30px;
}
/* ========= HEADER =========== */

.navbar {
    width: 100vw;
    padding: 25px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    text-transform: uppercase;
    transition: .3s;
}

.nav-active {
    background-color: #000;
    padding: 10px 5px;
}

.navbar .nav-links ul {
    display: flex;
    margin-right: 15px;
}

.navbar .nav-links ul li {
    margin: 0 10px;
    font-size: 15px;
}


.navbar a {
    color: #fff;
}

.navbar .logo {
    font-weight: bold;
    font-size: 25px;
    margin: 0 15px;
}

.navbar .menu-burger {
    position: absolute;
    top: 6px;
    right: 30px;
    display: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

.navbar .menu-burger:hover,
.navbar .nav-links ul li a:hover {
    color: #ffffffb4;
}

@media screen and (max-width: 900px) {
    
    .navbar {
        padding: 10px;
        background-color: #000;
    }

    .navbar .nav-links {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        background-color: #000;
        margin-top: -190%;
        transition: .3s;
    }

    .navbar .mobile-menu {
        margin-top: 0;
    }
    
    .navbar .nav-links ul {
        align-items: center;
        flex-direction: column;
    }
    
    .navbar .nav-links ul li {
        margin: 25px 0;
    }
    .navbar .menu-burger {
        display: block;
    }

    #services .container .card-position {
        flex-direction: column;    
   }

   #services .container .card-position .card .icon {
        font-size: 30px;
        width: 120px;
        height: 120px;
   }

}

/* ========= INTRO =========== */

#intro {
    background-image: url(../img/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 750px;
}

#intro .intro-content {
    padding: 200px 0;
}

#intro h1 {
    font-size: 40px;
    color: #fff;
}

#intro p {
    color: #fff;
    font-size: 20px;
}

a.fa.fa-angle-down {
    color: #aaa;
    font-size: 36px;
    margin-top: 220px;
    transition: all 0.5s;
}

a.fa.fa-angle-down:hover {
    color: #FFF;
}

/* ========= ABOUT ========== */

#about {
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
}

#about .container {
    padding-right: 15px;
    padding-left: 15px;
}

#about #prof-pic {
    width: 170px;
    height: 170px;
}

#about p {
    font-size: 16px;
    max-width: 650px;
    margin: 30px auto;
}

#about #tl-dr {
    background: #f0f0f0;
    color: #555;
    margin: 0px auto;
    padding: 20px;
    height: 200px;
    max-width: 650px;
}

.tldr-position {
    display: flex;
    justify-content: space-around;
}

.tldr-pro .tldr-icon { 
font-size: 36px;}


/* ========= SERVICES ======== */

#services {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F0F0F0;
    text-align: center;
}

#services .container {
    padding-right: 15px;
    padding-left: 15px;
}

#services .container .card-position {
    display: flex;
}

#services .container .card-position .card .icon {
    width: 175px;
    height: 175px;
    line-height: 175px;
    max-width: 100%;
    background: #00009C;
    border-radius: 50%;
    color: #FFF;
    font-size: 55px;
    margin: 0 auto 40px;
}




/* ========= SKILS ========= */

#skils {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fff;
    text-align: center;
}

#skils .container {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skils p {
    font-size: 16px;
    padding-bottom: 40px;
    max-width: 600px;
}

#skils .container .tools .row img {
    width: 80px;
    margin: 20px;
}

#skils .container .tools {
    max-width: 620px;
}

#skils .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ======== RESUME ========= */

#resume {
    background-image: url(../img/laptop.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 200px;
}

#resume .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    backdrop-filter: blur(3px);
}

#resume h2 {
    color: #fff;
}

#resume .btn-resume {
    background: none;
    display: inline-block;
    padding: 10px 20px;
    color: #ddd;
    border: 2px solid #ccc;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;   
    transition: .3s;
}

#resume .btn-resume:hover {
    color: #fff;
    padding: 10px 30px;
}
/* ======== PORFOLIO ======== */

#portfolio {
    padding-top: 90px;
    padding-bottom: 100px;
    background: #fff;
    text-align: center;
    height: 350px;
}

#portfolio .container {
    padding-right: 15px;
    padding-left: 15px;
}


/* ======== CONTACT ========= */

#contact {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #F0F0F0;
    text-align: center;
}

#contact .container {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#contact .container .email-icon {
    font-size: 40px;
    margin-bottom: 5px;
}

#contact p {
    max-width: 450px;
}

#contact .btn-email {
    color: #000;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #000;
    margin-top: 20px;
    transition: .3s;
    cursor: pointer;
}

#contact .btn-email:hover {
    background-color: #00009C;
    color: #fff;
    border: 2px solid #fff;
}

/* ======= FOOTER ======== */

footer {
    color: #fff;
    background-color: #222;
    height: 150px;
    text-align: center;
}

footer .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .container ul {
    display: flex;
    padding-top: 20px;
}

footer ul li a {
    display: block;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: #333;
}

footer ul li a:hover {
    background-color: #1b1bea;
}
